@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
* {

    margin: 0;
    padding: 0;
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.logo {

    margin-right: auto;
    color: rgb(23, 23, 134);
    font-size: 3rem;
    margin-left:0

}
a {

    text-decoration: none;
    color: black;
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header a {

    text-anchor: middle;
    dominant-baseline: middle; 
    margin:15px;
}

}
html,body {

    height: 100%;

}
.Main-Conainer {

    display:grid;
    grid-template-rows:auto 1fr auto;
    height: 100vh;
    width:100%;


}
footer {

    width: 100%;
    margin: 0;

}
header {

    width: 100%;
    height: 7.5dvh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
footer {

    background-color: rgb(2, 2, 49);
    height: 15dvh;
    color:white;
    text-align: center;

}
main {
    min-width: 1320px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px,150px,150px;


}
.product_conteiner {

    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 150px 25px 25px;
    grid-template-areas: 
    "box-1 box-1"
    "box-2 box-3"
    "box-4 box-4";
    padding: 2rem;
    width: fit-content;
    
}

.product_conteiner img {


    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

}
.a2 {

    justify-self: right;

}
.a1 {

   justify-self: left; 

}