@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One:ital@0;1&display=swap');
* {

    margin: 0;
    padding: 0;
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
.logo {

    margin-right: auto;
    color: rgb(23, 23, 134);
    font-size: 3rem;
    margin-left:0

}
a {

    text-decoration: none;
    color: black;
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header a {

    text-anchor: middle;
    dominant-baseline: middle; 
    margin:15px;
}

main {

    margin-top: 5rem;

}
html,body {

    height: 100%;

}
.Main-Conainer {

    display:grid;
    grid-template-rows:auto 1fr auto;
    height: 100vh;
    width:100%;


}
footer {

    width: 100%;
    margin: 0;

}
header {

    width: 100%;
    height: 7.5dvh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
footer {

    background-color: rgb(2, 2, 49);
    height: 10dvh;
    color:white;
    text-align: center;

}
main {
    min-width: 1320px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    


}
input {

    width: 100%;
    padding: 5px;
    border-radius: 10px;
    

}
#Header {
    
    padding: 0 5px 0 5px;
    height: 150%;
    font-size: larger;
}
#Imiage-Conatiner {

    width: fit-content;

}
.Images {

    height: 400px;
    width: 830px;
    object-fit: cover;
    border-radius: 10px;
    display: inline-block;

}
#mini-container {

    width: 830px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 5px;
}


.Imiage-add {

    height: 75px;
    border: rgb(122, 74, 74) 2px solid;
    background: rgba(71, 69, 69, 0.5);
    border-radius: 25px;

}
.Imiage-Miniature {

    height: 75px;
    border: rgb(122, 74, 74) 2px solid;
    background: rgba(71, 69, 69, 0.5);
    border-radius: 25px;
    width: 100%;
    object-fit: cover;

}
#wyborPlikow {

    display: none;

}
form {
    
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "box-1 box-1"
    "hr box-4"
    "box-2 box-4"
    "box-3 box-3"
    "box-5 box-5";
}
hr {

    margin: 2rem 0 2rem 0;

}
textarea {

    resize: none;
    border:none;
    width: 100%;
    margin: 0 0 4rem 0;
}
textarea:focus {
            outline: none;
            border-color: #4CAF50;
        }
#aside {


    padding: 1rem 2rem 1rem 2rem;
    border: 1px grey solid;
    margin: 0 2rem 0 2rem;
    border-radius: 2rem;
    background-color: rgb(209, 209, 209, 0.3);
    height: fit-content;
    text-align: center;

}
#aside button {

    width: 100%;
    padding: 0.5rem;
    background-color: rgb(180, 101, 101);
    border-radius: 2rem;
    border:none;
    font-size: 1rem;
    color: rgb(214, 214, 214);

}
#aside button:hover {

    background-color: rgb(117, 48, 48);
    color: rgb(255, 255, 255);

}
#aside input[type=number] {

    -moz-appearance:textfield;

}
#aside input::-webkit-outer-spin-button,
#aside input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h2 {

    font-size: 2rem;

}
#star-container {

    margin:1rem 0 1rem 0;

}
.fa-star::before {

    font-family: fontAwesome;
    font-size: 2.5rem !important;
}
.checked {

    color:orange;

}